{% extends '::base.html.twig' %}

{% block body %}
    <h1>{% trans %}global.forum{% endtrans %}</h1>

    <form action="{{ path('MeestersForumBundle_TopicCreate', {'forumId': forum.id}) }}" method="post" {{ form_enctype(form) }}>
        <h2>{% trans %}topic.form.header.add{% endtrans %}</h2>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{% trans %}global.button.add{% endtrans %}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('MeestersForumBundle_ForumShow', {'id': forum.id}) }}">
                Terug naar forum overzicht
            </a>
        </li>
    </ul>
{% endblock %}