{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ forum.name }}</h1>
    <table>
        <thead>
            <tr>
                <th colspan="2">Topics</th>
                <th>Reacties</th>
                <th>Bekeken</th>
                <th>Laatste bericht</th>
            </tr>
        </thead>
        <tbody>
            {% if forum.topics|length > 0 %}
                {% for topic in forum.topics %}
                    <tr>
                        <td>X</td>
                        <td>{{ topic.name }}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>Laatste</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">
                        <p>Er zijn nog geen topics in dit forum.</p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}